<div class="row">
    <div style="margin-top: 20px;" class="col-md-9">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <img style="width: 100%; height: 100%;"
                        src="layout/articleView/img/Apple ngừng sản xuất loa HomePod/apple homepod.jpg" alt="">
                </div>
                <div class="col">
                    <h4>Title của post chứa ảnh này</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, delectus corrupti! Ipsa placeat
                        dolorem ad molestiae corrupti nihil aperiam dignissimos, similique, excepturi nostrum aut quod
                        et, optio qui debitis omnis.</p>
                </div>
            </div>

            <div style="margin-top: 15px" class="row">
                <div class="col-sm">
                    <h5>Title post thứ 2</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam error, quam incidunt
                        corporis, eum commodi pariatur aperiam ullam nulla, magnam laboriosam. Ipsam eos nulla eveniet
                        atque, sapiente laboriosam quasi.
                    </p>
                </div>

                <div class="col-sm">
                    <h5>Title post thứ 3</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At nulla labore, omnis alias blanditiis
                        aliquid nihil qui tempora exercitationem, magni soluta commodi quaerat iure, veritatis amet
                        consequatur tempore voluptatem velit!</p>
                </div>

                <div class="col-sm">
                    <h5>Title post thứ 4</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsa provident voluptas eos
                        accusantium, iusto ducimus deleniti quae voluptatem facere sapiente dolores modi totam beatae
                        adipisci expedita labore ullam eaque.

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">

    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div style="border-top: 3px solid darkred; border-bottom: 3px solid darkred;">
            <h5>Phần Mềm</h5>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <img style="width: 100%;"
                        src="layout/articleView/img/Apple ngừng sản xuất loa HomePod/apple homepod.jpg" alt="">
                </div>

                <div class="col-sm">
                    <img style="width: 100%;"
                        src="layout/articleView/img/Apple ngừng sản xuất loa HomePod/apple homepod.jpg" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    
                </div>
            </div>
        </div>
    </div>
</div>