<div class="row" style="margin-top: 20px;">
    <div class="col-md-7">
        <div class="row">
            <h3 style="text-align: center;">
                Apple ngừng sản xuất loa HomePod
            </h3>
            <p style="font-size: 18px;">
                Mẫu loa thông minh HomePod bản tiêu chuẩn sẽ bị ngừng sản xuất và thay thế bằng phiên bản mini vừa ra
                mắt năm ngoái.
            </p>

            <p style="font-size: 18px;">
                Apple cho biết HomePod mini thành công vang dội kể từ khi ra mắt năm ngoái. Ngoài chất lượng âm thanh
                tốt, sản phẩm còn hỗ trợ nhiều tính năng thông minh và giá chỉ có 99 USD. Do đó, Apple sẽ tập trung vào
                model này, ngừng sản xuất HomePod bản tiêu chuẩn.
            </p>
            <p>
                <img style="width: 100%;"
                    src="/layout/articleView/img/Apple ngừng sản xuất loa HomePod/apple homepod.jpg" alt="">
            </p>
            <span style="font-style: italic;">HomePod không được ưa chuộng tại Việt Nam do giá mắc và Siri chưa hỗ trợ
                tiếng Việt.</span>
            <br>

            <p style="font-size: 18px; padding-top: 12px;">
                HomePod có chất lượng âm thanh được đánh giá cao, tuy nhiên, mức giá 349 USD của sản phẩm khi ra mắt bị
                chỉ trích là quá cao. Sau đó, Apple giảm còn 299 USD vào tháng 4/2019, trong khi đó HomePod mini chỉ 99
                USD.
            </p>

            <p style="font-size: 18px;">
                Homepod xuất hiện ở Việt Nam từ đầu năm 2018. Trái với các sản phẩm Apple khác, mẫu loa này
                <strong>không được
                    chào đón </strong> vì giá cao, trong khi tính ứng dụng thấp. Nhiều cửa hàng chuyên đồ âm thanh đã
                phải ngừng nhập
                thiết bị này vì không có người mua. Đến nay, khi có giá "dễ chịu hơn", Homepod mới được bán nhiều trở
                lại. Một "đầu nậu" chuyên kinh doanh đồ Apple tại Hà Nội cho biết, Homepod bán tại Việt Nam hầu hết là
                hãng Mỹ và là sản phẩm xả hàng của Apple.
            </p>

            <p style="font-size: 18px;">
                Ngoài ra, Homepod khá kén người dùng do chỉ hoạt động tối ưu với thiết bị iOS, không có kết nối 3,5 mm.
                Tính năng hay nhất trên Homepod là ra lệnh giọng nói, nhưng Siri lại chưa hỗ trợ tiếng Việt.
            </p>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
         <h5 style="text-align: center">Tin nổi bật khác</h5>
    </div>
</div>